.container {
  padding: 0 2rem;
  margin: 1rem auto;
}

.header {
  display: flex;
  align-items: center;
}

.borderCircle {
  border-radius: 9999px;
}

.name {
  padding-left: 1rem;
}

.backToHome {
  margin: 2rem 0 0;
}
