html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 12px;
  background-color: #151618;
  color: wheat;
}

* {
  box-sizing: border-box;
}

a {
  color: #839eae;
  text-decoration: none;
}
main {
  padding: 80px 28px;
  max-width: 641px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
::selection {
  background-color: #bc6c25;
  color: #fff;
}

h2 {
  font-weight: 500;
}

.verbal-abuse {
  fill: white;
  height: 36px;
  width: 36px;
}

.postsLink {
  cursor: pointer;
}

.posts {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.breadcrumbs-container {
  padding: 10px 28px;
  -webkit-box-align: center;
  align-items: center;
}

.breadcrumbs > * {
  list-style: none;
  padding-right: 5px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #666;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.bread-inactive > a {
  color: #666666;
}

.bread-active > a {
  color: #fff;
}
